{%extends "public_layout.html"%}

{%block content%}


	<!-- banner -->
	<div class="banner about-w3banner">  
		<div class="banner-img1">
			<div class="banner-w3text">
				<h2>How Care Kidds</h2>
			</div>
		</div> 	 
	</div>
	<!-- //banner -->
	<!-- about -->
	<div class="about w3-agileits">
		<div class="container">
			<h3 class="agileits-title1">About Us</h3> 
			<div class="col-md-4 about-wthreegrids">
				<h3 class="w3ltitle">WHAT WE ARE </h3>
				<p>Ut porttitor ut est eu ornare. In metus dui, suscipit at viverra faucibus, accumsan at odio. Duis finibus sollicitudin libero, sed tempor diam euismod sed. Sed interdum odio a finibus gravida. Aliquam tincidunt nisl nec urna euismod, ullamcorper scelerisque interdum odio magna vulputate .</p>
				<p>Duis finibus sollicitudin libero, sed tempor diam euismod sed. Sed interdum odio a finibus gravida. Aliquam tincidunt nisl nec urna euismodl nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed velit fermentum lobortis, eget placerat mauris sed lectus tellus</p>
			</div>
			<div class="col-md-4 about-wthreegrids">
				<img src="../static/images/img3.jpg" alt=""/>
			</div>
			<div class="col-md-4 about-wthreegrids">
				<h3 class="w3ltitle">OUR MISSION</h3>
				<div class="w3ls-pince">
					<div class="pince-left">
						<h5>01</h5>
					</div>
					<div class="pince-right">
						<h4>Medical Support For Childrens </h4>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="w3ls-pince agileits-w3layouts">
					<div class="pince-left">
						<h5>02</h5>
					</div>
					<div class="pince-right">
						<h4>Guidence For Parents </h4>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="w3ls-pince agileits-w3layouts">
					<div class="pince-left">
						<h5>03</h5>
					</div>
					<div class="pince-right">
						<h4>Schools Admissions </h4>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //about -->
	<!-- about-slid -->
	<!-- <div class="about-slid agileits-w3layouts"> 
		<div class="container">
			<div class="about-slid-w3info"> 
				<h3 class="agileits-title1">Working Hours</h3>  
				<h5>Mon-Fri:10am-9pm </h5><br>
				<h5>Sat-Sun:By Special Appointment</h5>
			</div>
		</div>
	</div> -->
	<!-- //about-slid -->
	<!-- team -->
	<!-- <div class="team w3-agileits">
		<div class="container">  
			<h3 class="agileits-title1">Our Team</h3>  
			<div class="team-w3ls-row">
				<div class="col-md-3 col-sm-6 team-grids">
					<img src="../static/images/t6.jpg" alt=""/>
					<div class="img-caption w3-agileits">
						<div class="img-agileinfo-text">
							<h4>Alan Ipsum</h4>
							<p>Etiam pellentesque felis dolor quis efficitur eros </p>
							<div class="w3social-icons"> 
								<ul>
									<li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
									<li><a href="#"><i class="fa fa-facebook"></i> </a></li>
									<li><a href="#"><i class="fa fa-twitter"></i> </a></li> 
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 team-grids">
					<img src="../static/images/t7.jpg" alt=""/>
					<div class="img-caption">
						<div class="img-agileinfo-text">
							<h4>Matthew Ava</h4>
							<p>Vestibulum celit dolor pulvinar ut tempus sit amet </p>
							<div class="w3social-icons"> 
								<ul>
									<li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
									<li><a href="#"><i class="fa fa-facebook"></i> </a></li>
									<li><a href="#"><i class="fa fa-twitter"></i> </a></li> 
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 team-grids">
					<img src="../static/images/t8.jpg" alt=""/>
					<div class="img-caption">
						<div class="img-agileinfo-text">
							<h4>Mark Sophia</h4>
							<p>Suspendi ipsum magna ut luctus eget condimentum </p> 
							<div class="w3social-icons"> 
								<ul>
									<li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
									<li><a href="#"><i class="fa fa-facebook"></i> </a></li>
									<li><a href="#"><i class="fa fa-twitter"></i> </a></li> 
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 team-grids">
					<img src="../static/images/t9.jpg" alt=""/>
					<div class="img-caption">
						<div class="img-agileinfo-text">
							<h4>Daniel Nyari</h4>
							<p>Suspendi ipsum magna ut luctus eget condimentum </p>
							<div class="w3social-icons"> 
								<ul>
									<li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
									<li><a href="#"><i class="fa fa-facebook"></i> </a></li>
									<li><a href="#"><i class="fa fa-twitter"></i> </a></li> 
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div> 
			</div>
		</div>
	</div> -->
	<!-- //team --> 
	
	{%endblock%}