{% extends 'user_layout.html' %}

{% block content %}
<br><br>
<h2><center>Complaints View</center></h2>
    <table border="4" style="width:1002px; margin-left:250px; text-align:center; margin-top: 50px;">
        <tr style="font-weight: bold;font-size: 20px;height: 50px;">
            <td>Id</th>
            <td>Complaints</th>
            <td colspan=2>Action</th>
        </tr>
        {% for tasks in tasks %}
            <tr style="font-size: 15px;height: 50px;">
                <td>{{ tasks.id }}</td>
                <td>{{ tasks.complaint }}</td> 
                <td><a href="/addcomplaintdelete/{{tasks.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
<br><br>

{% endblock %}