{% extends 'user_layout.html' %}

{% block content %}
<br><br>
<h2><center>Doctor Bookings</center></h2>
    <table border="4" style="width:1002px; margin-left:250px; text-align:center; margin-top: 50px;">
        <tr style="font-weight: bold;height: 50px;font-size: 20px;">
            <td>Doctor Name</th>
            <td>Queries</th>
            <td>Replay</th>
            <td>Action</th>
        </tr>
        {% for tasks in tasks %}
            <tr style="font-size: 15px;height: 50px;">
                <td>{{ tasks.doctor }}</td>
                <td>{{ tasks.question }}</td>
                <td>{{ tasks.replay }}</td>
                <td><a href="/addqueriesdelete/{{tasks.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
<br><br>

{% endblock %}