{% extends 'user_layout.html' %}

{% block content %}
<br><br>
<h2><center>Kid Talents</center></h2>
    <table border="4" style="width:1002px; margin-left:250px; text-align:center; margin-top: 50px;">
        <tr style="font-weight: bold;height: 50px;font-size: 20px;">
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Talents</td>
            <td colspan=2>Action</td>
        </tr>
        {% for tasks in tasks %}
            <tr style="font-size: 15px;height: 50px;">
                <td>{{ tasks.id }}</td>
                <td>{{ tasks.name }}</td>
                <td>{{ tasks.age }}</td>
                <td>{{ tasks.talent }}</td>
                <td><a href="/addtalentupdate/{{tasks.id}}">Edit</a></td>
                <td><a href="/addtalentdelete/{{tasks.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
<br><br>

{% endblock %}