


{% extends 'admin_layout.html'%}
{% block content %}


<div class="main-page">
  <div class="tables">
    <h2 class="title1"></h2>
    <div class="panel-body widget-shadow">
      <h4> User Talent:</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th> Child Name</th>
            <th>Age</th>
            <th>Talent</th>
          </tr>
        </thead>
        <tbody>
            {% for tasks in tasks %}
          <tr>
            <th scope="row">{{tasks.user}}</th>
            <td>{{tasks.name}}</td>
            <td>{{ tasks.age }}</td>
            <td>{{ tasks.talent }}</td>
            
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}