{%extends "user_layout.html"%}

{%block content%}

<!-- /inner_content -->
<div class="inner_content_info_agileits">
    <div class="container">
        <h3 class="heading-agileinfo">Update Doctor Booking</h3>
        <div class="modal-body align-w3">
            <form action="/bookdoctorupdate/{{task.id}}" method="POST" class="p-sm-3">
                <div class="form-group">
                    <label class="mb-2">Name of the child</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{task.name}}" aria-describedby="emailHelp" placeholder="" required="">
                </div>
                <div class="form-group">
                    <label class="mb-2">Age of the child</label>
                    <input type="text" class="form-control" id="age" name="age" value="{{task.age}}" aria-describedby="emailHelp" placeholder="" required="">
                </div>
                <div class="form-group">
                    <label class="mb-2">Reason for Consulting</label>
                    <input type="text" class="form-control" id="reason" name="reason" value="{{task.reason}}" aria-describedby="emailHelp" placeholder="" required="">
                </div>
                <div class="form-group">
                    <label>Your Doctor</label>
                    <input type="text" class="form-control" id="doctorname" name="doctorname" value="{{task.doctorname}}" aria-describedby="emailHelp" placeholder="" required="">
                </div><br>
                <div class="right-w3l">
                    <input type="submit" class="form-control bg-theme" value="ADD">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- //inner_content -->
{%endblock%}
