


{% extends 'admin_layout.html'%}
{% block content %}


<div class="main-page">
  <div class="tables">
    <h2 class="title1"></h2>
    <div class="panel-body widget-shadow">
      <h4> Child Rights:</h4>
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th> Crime section</th>
            <th>Child right</th>
            <th>Action</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for tasks in tasks %}
          <tr>
            <th scope="row">{{tasks.id}}</th>
            <td>{{tasks.crimesection}}</td>
            <td>{{ tasks.childright }}</td>
        
            <td><a href="/childrightupdate/{{tasks.id}}"><button>Edit</button></a></td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}