{%extends "doctor_layout.html"%}

{%block content%}

<!-- /inner_content -->
<div class="inner_content_info_agileits">
    <div class="container">
        <h3 class="heading-agileinfo">Add Queries</h3>
        <div class="modal-body align-w3">
            <form action="" method="POST" class="p-sm-3">
                <div class="form-group">
                    <label class="mb-2">Replay Your Answer</label>
                    <textarea rows="4" class="form-control" id="answer" name="answer"></textarea>
                </div><br>
                <div class="right-w3l">
                    <input type="submit" class="form-control bg-theme" value="REPLAY">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- //inner_content -->
{%endblock%}
