{%extends "public_layout.html"%}

{%block content%}
<div class="col-md-8" style="color: white;font-size: 30px;">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
<!-- /inner_content -->
<div class="inner_content_info_agileits" style="margin-top: 40px;">
    <div class="container">
        <h3 class="heading-agileinfo">Log In</h3>
        <div class="modal-body align-w3">
            <form action="" method="POST" class="p-sm-3">
                {{form.hidden_tag()}}
                <div class="form-group">
                    <label class="mb-2">Email address</label>
                    <div class="form-group">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                </div>
                   
                </div>
                <div class="form-group">
                    <label class="mb-2">Password</label>
                    <div class="form-group">
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                </div>
                </div>
                <div class="form-check mb-2">
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                </div><br>
                <center>
                <div class="right-w3l">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div></center><br>
                <p class="text-center pb-4">
                    <a href="register"> Don't have an account?</a>
                    <a href="/resetrequest"> Forgot Password?</a>
                </p>
            </form>
        </div>
    </div>
</div>




<style>

.btn {
    color: #fff;
    background-color: #303233;
    border-color: #0c0c0c;
}

</style>
{%endblock%}
