{%extends "user_layout.html"%}

{%block content%}

<!-- /inner_content -->
<div class="inner_content_info_agileits">
    <div class="container">
        <h3 class="heading-agileinfo">Reset Your Password</h3>
        <div class="modal-body align-w3">
            <form action="" method="POST" class="p-sm-3">
                {{form.hidden_tag()}}
                <div class="form-group">
                    <label class="mb-2">Password</label>
                    <div class="form-group">
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <div class="form-group">
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
					</div>
                </div><br>
                <center><div class="right-w3l" style="color: black;">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </center><br>
                <p class="text-center pb-4">
                    <a href="#">By clicking Register, I agree to your terms</a>
                </p>
            </form>
        </div>
    </div>
</div>


<style>
.btn {
    color: #fff;
    background-color: #303233;
    border-color: #0c0c0c;
}

</style>



{%endblock%}
